



<h2> Here are listed all the Courses of IGDTUW</h2>

{% if branches %} 
{% for album in branches  %}

  <a href="{%url 'DataModels:detail' album.id %}" >{{ album.coursename}}</a><br>
{% endfor %} 

{% else %} COMING SOON {% endif %}
